.background-card-custom {
    border: none;
    border-radius: 8px;
    background-color: #252526;
    color: #bfbfbf;
}

.animes-custom {
    margin-right: 50px;
    margin-left: 50px;
    width: 100%;
}

.card-profile-custom {
    border: none;
    width: 300px;
    margin-left: 50px;
    background-color: #252526;
    color: #bfbfbf;
}

.card-anime-review-custom {
    border: none;
    width: 100%;
    background-color: #252526;
    color: #bfbfbf;
}

.image-poster-custom {
    width: 240px;
    height: 336px;
}

.list-group-custom {
    width: 20%;
    background-color: #414145;
}

.list-group-item-custom {
    background-color: #666668;
    color: #bfbfbf;
}

.container-custom {
    width: 100%;
}

.btn-custom {
    font-size: 16px;
    border-radius: 16px;
    height: 50px;
    width: 50px;
    margin-top: 220px;
    margin-left: 215px;
    background-color: #393737;
}

.icon-send-custom {
    font-size: 20px;
}

.modal-content {
    background-color: #3a3a3c;
}