.card-poster-custom {
    border: none;
    width: 18rem;
}

.card-short-info-custom {
    width: 18rem;
    border-radius: 8px;
    border: none;
    background-color: #252526;
    color: #bfbfbf;
}

.card-long-info-custom {
    border-radius: 8px;
    border: none;
    background-color: #252526;
    color: #bfbfbf;
}

.short-info-custom {
    margin-top: 100px;
    margin-left: 50px;
}

.long-info-custom {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 50px;
}

.anime-title-custom {
    color: #bfbfbf;
}

.btn-inactive-custom {
    border-radius: 8px;
    background-color: #afafaf;
    color: #323030;
}

.user-review-custom {
    border-radius: 8px;
    background-color: #37373a;
    color: #bfbfbf;
}

.review-title-custom {
    font-size: 16px;
    color: #bfbfbf;
}

.card-subtitle-dark-custom {
    color: #bfbfbf;
}
