.background-card-custom {
    border: none;
    border-radius: 8px;
}

.container-avatar-custom {
    margin-left: 50px;
}

.container-inputs-custom {
    margin-right: 50px;
    margin-left: 50px;
    width: 100%;
}

.form-select-custom {
    background-color: rgba(200, 224, 237, 0.5);
}

.error-custom {
    margin-top: 100px;
    margin-left: 20px;
}

.error-text-custom {
    color: #df1900;
    font-size: 12px;
    margin-top: 3px;
    max-width: 210px;
}